.baikal__cover {
  background-color: rgba(42,44,47,.3);
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baikal__cover:hover {
  background-color: rgba(42,44,47,.8);
  transition: background-color 1s ease;
}
